#message {
    position: absolute;
    font-size: xx-large;
    top: 5%;
    left: 20%;
}

#timer {
    font-size: xx-large;
}

#letters1, #letters2, #letters3, #letters4, #letters5, #letters6 {
    position: absolute;
    left: 20%;
    height: 300px;
    width: 500px;
    margin: 0;
    display: flex;
    white-space: pre;
}

#letters1 {
    top: 15%;
}

#letters2 {
    top: 20%;
}

#letters3 {
    top: 25%;
}

#letters4 {
    top: 30%;
}

#letters5 {
    top: 35%;
}

#letters6 {
    top: 40%;
}

#typedLetters {
    position: absolute;
    left: 20%;
    top: 45%;
    height: 150px;
    width: 520px;
}